$box:border-box;
$base:62.5%;
$fuente-principal:Arial,
Helvetica,
sans-serif;
$fuente-size:1.3rem;
$color-principal:white;
$h-fuente-principal:'Lato',
sans-serif;
$h2-particular-fuente: 3.2rem;
$h2-particular-weight: bold;
$h3-particular-fuente: 2.6rem;
$a-color: inherit;
$a-decoration:none;
$container-max-width: 960px;
$container-width:100%;
$container-margin: auto;